# Clarinet
.cache/
history.txt
costs-reports.json
logs/
*.log
deployments/*.json
!deployments/default.json
!deployments/default.simnet-plan.yaml

# Settings (Sensitive)
**/settings/Mainnet.toml
**/settings/Testnet.toml

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
package-lock.json

# Testing
coverage/
*.info
.nyc_output/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Environment & Documentation
.env
.env
.env.*
!.env.example
*.md
